{%extends 'home.html'%}
{%load static%}
{%block section%}
<div class="w-full flex flex-wrap">

  <!-- Login Section -->
  <div class="w-full md:w-1/2 flex flex-col">

      <div class="flex flex-initial justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
          <a href="#" class="bg-black text-white font-bold text-xl p-4">{{Title}}</a>
      </div>

      <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
          {{Text}}
      </div>

  </div>

  
  <div class="w-1/2 shadow-2xl">
      <div class="object-cover w-full h-screen hidden md:block">
        {%for doc in data%}
        <div class="bg-gray-800 text-white font-bold rounded-lg border shadow-lg p-2 mb-3">
          {{doc}}
        </div>
        {%endfor%}
        <form class="m-4 flex" name="" method="POST" >{% csrf_token %}
          <input name="id" class="rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" placeholder="id"/>
          <button class="px-8 rounded-r-lg bg-yellow-400  text-gray-800 font-bold p-4 uppercase border-yellow-500 border-t border-b border-r">View</button >
        </form>
      </div>
  </div>
</div>
{%endblock%}